<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
      </link>
      <link rel="stylesheet" href="/resources/css/dataTables.bootstrap.min.css">
      </link>
      <link rel="stylesheet" href="/resources/css/normalize.css">
      </link>
      <link rel="stylesheet" href="/resources/css/main.css">
      </link>
      <link rel="stylesheet" href="/resources/css/responsive-tables.css">
      </link>
      <script src="/resources/js/jquery-1.12.0.min.js"></script>
      <script src="/resources/js/responsive-tables.js"></script>
      <script src="/resources/js/modernizr-2.8.3.min.js"></script>
      <script src="/resources/js/bootstrap.min.js"></script>
      <script src="/resources/js/plugins.js"></script>
      <script src="/resources/js/main.js"></script>
      <script src="/resources/js/jquery.dataTables.min.js"></script>
      <script src="/resources/js/dataTables.bootstrap.min.js"></script>
      <title th:text="#{label.pages.backoffice.title}"></title>
   </head>
   <body>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a rel="home" href="#">
               <img class="navbar-brand" src="/resources/img/logo.png"/>
               </a>
            </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                 <li><a sec:authorize="hasAuthority('LOGIN_PRIVILEGE')" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a></li>
                 <li><a sec:authorize="hasAuthority('USERS_UPDATE_PRIVILEGE')" th:href="@{/users}" th:text="#{label.pages.users.title}"></a></li>
                 <li class="active"><a sec:authorize="hasAuthority('UPDATE_ORDERS_PRIVILEGE')" th:href="@{/backoffice.html}" th:text="#{label.pages.backoffice.title}">backoffice</a></li>
                 <li><a sec:authorize="hasAuthority('ENABLE_USERS_PRIVILEGE')" th:href="@{/frontoffice.html}" th:text="#{label.pages.frontoffice.title}">frontoffice</a></li>
                 <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/marketvalues.html}" th:text="#{label.pages.marketvalues.title}">marketvalues</a></li>
                 <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/orders.html}" th:text="#{label.pages.orders.title}">orders</a></li>
                 <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/executions.html}" th:text="#{label.pages.executions.title}">executions</a></li>
                 <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/requests.html}" th:text="#{label.pages.requests.title}">requests</a></li>
                 <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/portfolios.html}" th:text="#{label.pages.portfolios.title}">portfolios</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     <i class="glyphicon glyphicon-user"></i>  <i class="glyphicon glyphicon-chevron-down"></i>
                     </a>
                     <ul sec:authorize="hasAuthority('LOGIN_PRIVILEGE')" class="dropdown-menu dropdown-user">
                        <li><a><i class="glyphicon glyphicon-user"></i>&nbsp;<span th:text="${session.user.username}">email</span></a>
                        </li>
                        <li><a th:href="@{/changePassword.html}"><i class="glyphicon glyphicon-cog"></i>&nbsp;<span th:text="#{message.changePassword}"></span></a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;<span th:text="#{label.pages.logout}">logout</span></a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="alert alert-danger" sec:authorize="!hasAuthority('UPDATE_ORDERS_PRIVILEGE')" th:text="#{message.unauth}">unauth</div>
      <div class="container" sec:authorize="hasAuthority('UPDATE_ORDERS_PRIVILEGE') OR hasAuthority('UPDATE_REQUEST_PRIVILEGE')">
        <div id="globalErrors" class="alert alert-danger" style="display:none"></div>
        <div id="globalInfos" th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}"></div>
        <div class="modal fade" id="execOrderModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
           <div class="modal-dialog">
              <div class="modal-content">
                 <form method="post" id="execOrderForm">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                       </button>
                       <h4 class="modal-title custom_align" id="Heading">Execute Order</h4>
                    </div>
                    <div class="modal-body">
                      <input id ="orderId" name="orderId" style="display:none"/>
                       <div class="form-group">
                          <label>Quantity</label>
                          <input class="form-control " type="number" name="quantity" value="0"/>
                          <span id="quantityError" class="text-Danger" style="display:none"></span>
                       </div>
                       <div class="form-group">
                          <label>Price</label>
                          <input class="form-control " type="number" name="price" value="0"/>
                          <span id="priceError" class="text-Danger" style="display:none"></span>
                       </div>
                       <div class="form-group">
                          <label>Date</label>
                          <input class="form-control " type="date" name="date"/>
                          <span id="dateError" class="text-Danger" style="display:none"></span>
                       </div>
                    </div>
                    <div class="modal-footer">
                         <a id="submitExec" class="btn btn-success btn-lg" style="width:100%">
                         <span class="glyphicon glyphicon-ok-sign"></span>
                         </a>
                    </div>
                 </form>
              </div>
           </div>
        </div>
        <div class="modal fade" id="evalReqModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
           <div class="modal-dialog">
              <div class="modal-content">
                 <form method="post" id="evalReqForm">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                       </button>
                       <h4 class="modal-title custom_align" id="Heading">Evaluate request</h4>
                    </div>
                    <div class="modal-body">
                      <input id ="requestId" name="requestId" style="display:none"/>
                       <div class="form-group">
                          <label>Status</label>
                          <select name="status" class="form-control">
                            <option selected="selected" th:value="${T(com.bfigroupe.ebourse.persistence.model.RequestState).REFUSED}" th:text="${T(com.bfigroupe.ebourse.persistence.model.RequestState).REFUSED.state}">REFUSED</option>
                            <option th:value="${T(com.bfigroupe.ebourse.persistence.model.RequestState).ACCEPTED}" th:text="${T(com.bfigroupe.ebourse.persistence.model.RequestState).ACCEPTED.state}">ACCEPTED</option>
                          </select>
                          <span id="statusError" class="text-Danger" style="display:none"></span>
                       </div>
                    </div>
                    <div class="modal-footer">
                         <a id="submitEval" class="btn btn-success btn-lg" style="width:100%">
                         <span class="glyphicon glyphicon-ok-sign"></span>
                         </a>
                    </div>
                 </form>
              </div>
           </div>
        </div>
         <h2>Database Orders</h2>
         <hr/>
         <table id="myTable" class="table table-bordered table-striped responsive" >
            <thead>
               <tr>
                  <th>ID</th>
                  <th>ISIN</th>
                  <th>Operation</th>
                  <th>Initial Price</th>
                  <th>Initial Quantity</th>
                  <th>Remaining Quantity</th>
                  <th>Creation</th>
                  <th>Validity</th>
                  <th>Validity Type</th>
                  <th>Status</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               <th:block th:each="order : ${Orders}">
                  <tr>
                     <td th:text="${order.id}">id</td>
                     <td th:text="${order.marketvalue.value.isin}">isin</td>
                     <td th:text="${order.operation}">operation</td>
                     <td th:text="${order.marketvalue.cours}">cours</td>
                     <td th:text="${order.initialQuantity}">initialQuantity</td>
                     <td th:text="${order.remainingQuantity}">remainingQuantity</td>
                     <td th:text="${order.creation}">creation</td>
                     <td th:text="${order.validity}">validity</td>
                     <td th:text="${order.validityType}">validityType</td>
                     <td th:text="${order.status}">status</td>
                     <td th:if="${order.status != T(com.bfigroupe.ebourse.persistence.model.OrderState).EXECUTED.state AND order.status != T(com.bfigroupe.ebourse.persistence.model.OrderState).EDIT_PADDING.state AND order.status != T(com.bfigroupe.ebourse.persistence.model.OrderState).CANCELED.state}">
                       <a id="executeOrder" data-target="#execOrderModal" data-toggle="modal" class="btn btn-success"><span class="hidden" th:text="${order.id}"></span><i class="glyphicon glyphicon-console"></i>&nbsp;Execute</a>
                       <a id="deleteOrder" class="btn btn-danger"><span class="hidden" th:text="${order.id}"></span><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</a>
                     </td>
                     <td th:unless="${order.status != T(com.bfigroupe.ebourse.persistence.model.OrderState).EXECUTED.state AND order.status != T(com.bfigroupe.ebourse.persistence.model.OrderState).EDIT_PADDING.state AND order.status != T(com.bfigroupe.ebourse.persistence.model.OrderState).CANCELED.state}">

                     </td>
                  </tr>
               </th:block>
            </tbody>
         </table>
         <hr/>
         <h2>Database Requests</h2>
         <hr/>
         <table sec:authorize="hasAuthority('UPDATE_REQUESTS_PRIVILEGE')" id="myTable2" class="table table-bordered table-striped responsive" >
            <thead>
               <tr>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Order ID</th>
                  <th>Order ISIN</th>
                  <th>Order Status</th>
                  <th>Date</th>
                  <th>Accepted</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               <th:block th:each="request : ${Requests}">
                  <tr>
                     <td th:text="${request.id}">id</td>
                     <td th:text="${request.type}">Type</td>
                     <td th:text="${request.oldOrder.id}">id</td>
                     <td th:text="${request.oldOrder.marketvalue.value.isin}">isin</td>
                     <td th:text="${request.oldOrder.status}">status</td>
                     <td th:text="${request.date}">date</td>
                     <td th:text="${request.status}">status</td>
                     <td>
                       <a id="sendRequest" class="btn btn-warning"><span class="hidden" th:text="${request.id}"></span><i class="glyphicon glyphicon-send"></i>&nbsp;Send</a>
                       <a id="evaluateRequest" data-target="#evalReqModal" data-toggle="modal" class="btn btn-success"><span class="hidden" th:text="${request.id}"></span><i class="glyphicon glyphicon-ok"></i>&nbsp;Evaluate</a>
                       <a id="deleteRequest" class="btn btn-danger"><span class="hidden" th:text="${request.id}"></span><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </th:block>
            </tbody>
         </table>
         <script th:inline="javascript">
         $(document).ready(function(){
           $('#myTable').DataTable();
           $('#myTable2').DataTable();
           $("#globalErrors").delay(5000).slideUp();
           $("#globalInfos").delay(5000).slideUp();

           $(document).on('click', '#executeOrder', function() {
               var id = $(this).children().first().text();
               $('#orderId').val(id);
           });
           $(document).on('click','#deleteOrder',function(){
             $("#globalErrors").html('');
             var id =$(this).children().first().text();
             $.ajax({
               url: '/backoffice/deleteOrder/'+id,
               dataType: 'json',
               success: function(data, textStatus, jqXHR) {
                 if(data.error == "empty"){
                   window.location.href = "/backoffice.html?message=" + data.message;
                 }
              },
               error: function(jqXHR, textStatus, errorThrown) {
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                 $("#globalErrors").html(jqXHR.responseJSON.message);
                 $("#globalErrors").slideDown();
               }
             });
           });

           $(document).on('click', '#submitExec', function() {
               $(".text-Danger").html('').hide();
               var formData = $('#execOrderForm').serialize();
               console.log(formData);
               $.post("backoffice/executeOrder", formData, function(data) {
                       console.log(data.message);
                       if (data.error == "empty") {
                           window.location.href = "/backoffice.html?message=" + data.message;
                       } else {
                           var errors = $.parseJSON(data.message);
                           console.log(errors);
                           $.each(errors, function(index, item) {
                               $("#" + item.field + "Error").show().html('&nbsp;' + item.defaultMessage);
                           });
                           errors = $.parseJSON(data.error);
                       }
                   })
                   .fail(function(data) {
                       console.log(data.responseJSON.message);
                       $("html, body").animate({ scrollTop: 0 }, "slow");
                       $('#execOrderModal').modal('toggle');
                       $("#globalErrors").html(data.responseJSON.message);
                       $("#globalErrors").slideDown();
                   });
           });

           $(document).on('click','#deleteRequest',function(){
             $("#globalErrors").html('');
             var id =$(this).children().first().text();
             $.ajax({
               url: '/backoffice/deleteRequest/'+id,
               dataType: 'json',
               success: function(data, textStatus, jqXHR) {
                 if(data.error == "empty"){
                   window.location.href = "/backoffice.html?message=" + data.message;
                 }
              },
               error: function(jqXHR, textStatus, errorThrown) {
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                 $("#globalErrors").html(jqXHR.responseJSON.message);
                 $("#globalErrors").slideDown();
               }
             });
           });

           $(document).on('click','#sendRequest',function(){
             $("#globalErrors").html('');
             var id =$(this).children().first().text();
             $.ajax({
               url: '/backoffice/sendRequest/'+id,
               dataType: 'json',
               success: function(data, textStatus, jqXHR) {
                 if(data.error == "empty"){
                   window.location.href = "/backoffice.html?message=" + data.message;
                 }
              },
               error: function(jqXHR, textStatus, errorThrown) {
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                 $("#globalErrors").html(jqXHR.responseJSON.message);
                 $("#globalErrors").slideDown();
               }
             });
           });

           $(document).on('click', '#evaluateRequest', function() {
               var id = $(this).children().first().text();
               $('#requestId').val(id);
           });
           $(document).on('click', '#submitEval', function() {
               $(".text-Danger").html('').hide();
               var formData = $('#evalReqForm').serialize();
               console.log(formData);
               $.post("backoffice/evaluateRequest", formData, function(data) {
                       console.log(data.message);
                       if (data.error == "empty") {
                           window.location.href = "/backoffice.html?message=" + data.message;
                       } else {
                           var errors = $.parseJSON(data.message);
                           console.log(errors);
                           $.each(errors, function(index, item) {
                               $("#" + item.field + "Error").show().html('&nbsp;' + item.defaultMessage);
                           });
                           errors = $.parseJSON(data.error);
                       }
                   })
                   .fail(function(data) {
                       console.log(data.responseJSON.message);
                       $("html, body").animate({ scrollTop: 0 }, "slow");
                       $('#evalReqModal').modal('toggle');
                       $("#globalErrors").html(data.responseJSON.message);
                       $("#globalErrors").slideDown();
                   });
           });

         });
         </script>
      </div>
   </body>
</html>
