<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
   <head>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>
      <link rel="stylesheet" href="/resources/css/normalize.css"></link>
      <link rel="stylesheet" href="/resources/css/main.css"></link>
      <script src="/resources/js/modernizr-2.8.3.min.js"></script>
      <script src="/resources/js/jquery-1.12.0.min.js"></script>
      <script src="/resources/js/bootstrap.min.js"></script>
      <script src="/resources/js/plugins.js"></script>
      <script src="/resources/js/main.js"></script>
      <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
      <title th:text="#{message.changePassword}">change password</title>
   </head>
   <body>
     <nav class="navbar navbar-default">
        <div class="container-fluid">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a rel="home" href="#">
              <img class="navbar-brand" src="/resources/img/logo.png"/>
              </a>
           </div>
           <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a sec:authorize="hasAuthority('LOGIN_PRIVILEGE')" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a></li>
                <li><a sec:authorize="hasAuthority('USERS_UPDATE_PRIVILEGE')" th:href="@{/users}" th:text="#{label.pages.users.title}"></a></li>
                <li><a sec:authorize="hasAuthority('UPDATE_ORDERS_PRIVILEGE')" th:href="@{/backoffice.html}" th:text="#{label.pages.backoffice.title}">backoffice</a></li>
                <li><a sec:authorize="hasAuthority('ENABLE_USERS_PRIVILEGE')" th:href="@{/frontoffice.html}" th:text="#{label.pages.frontoffice.title}">frontoffice</a></li>
                <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/marketvalues.html}" th:text="#{label.pages.marketvalues.title}">marketvalues</a></li>
                <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/orders.html}" th:text="#{label.pages.orders.title}">orders</a></li>
                <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/executions.html}" th:text="#{label.pages.executions.title}">executions</a></li>
                <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/requests.html}" th:text="#{label.pages.requests.title}">requests</a></li>
                <li><a sec:authorize="hasAuthority('SERVICE_ACCESS_PRIVILEGE')" th:href="@{/portfolios.html}" th:text="#{label.pages.portfolios.title}">portfolios</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                   <i class="glyphicon glyphicon-user"></i>  <i class="glyphicon glyphicon-chevron-down"></i>
                   </a>
                   <ul class="dropdown-menu dropdown-user">
                      <li><a><i class="glyphicon glyphicon-user"></i>&nbsp;<span th:text="${session.user.username}">email</span></a>
                      </li>
                      <li class="active"><a th:href="@{/changePassword.html}"><i class="glyphicon glyphicon-cog"></i>&nbsp;<span th:text="#{message.changePassword}"></span></a>
                      </li>
                      <li class="divider"></li>
                      <li><a th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;<span th:text="#{label.pages.logout}">logout</span></a>
                      </li>
                   </ul>
                </li>
              </ul>
           </div>
        </div>
     </nav>
      <div class="container">
            <div id="errormsg" class="alert alert-danger" style="display:none"></div>
            <h1 th:text="#{message.changePassword}">change password </h1>
            <div >
               <br/>
               <label class="col-sm-2" th:text="#{label.user.oldPassword}">old</label>
               <span class="col-sm-5"><input class="form-control" id="oldpass" name="oldpassword" type="password" value="" /></span>
               <span class="col-sm-5"></span>
               <br/><br/>
               <label class="col-sm-2" th:text="#{label.user.newPassword}">new</label>
               <span class="col-sm-5"><input class="form-control" id="pass" name="password" type="password" value="" /></span>
               <span class="col-sm-5"></span>
               <br/><br/>
               <label class="col-sm-2" th:text="#{label.user.confirmPass}">confirm</label>
               <span class="col-sm-5"><input class="form-control" id="passConfirm" type="password" value="" /></span>
               <span id="error" class="alert alert-danger" style="display:none" th:text="#{PasswordMatches.user}">error</span>
               <br/><br/>
               <button class="btn btn-primary" type="submit" onclick="savePass()" th:text="#{message.changePassword}">change
               </button>
            </div>
      </div>
      <script th:inline="javascript">
         /*<![CDATA[*/
         var serverContext = [[@{/}]];
         function savePass(){
             var pass = $("#pass").val();
             var valid = pass == $("#passConfirm").val();
             if(!valid) {
               $("#error").show();
               return;
             }
             $.post(serverContext + "user/updatePassword",{password: pass, oldpassword: $("#oldpass").val()} ,function(data){
                     window.location.href = serverContext + "home.html" + "?message="+data.message;
             })
             .fail(function(data) {
             	$("#errormsg").show().html(data.responseJSON.message);
             });
         }
         /*]]>*/
      </script>
   </body>
</html>
