<html xmlns:th="http://www.thymeleaf.org">
   <head>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>
      <link rel="stylesheet" href="/resources/css/normalize.css"></link>
      <link rel="stylesheet" href="/resources/css/main.css"></link>
      <script src="/resources/js/modernizr-2.8.3.min.js"></script>
      <script src="/resources/js/jquery-1.12.0.min.js"></script>
      <script src="/resources/js/bootstrap.min.js"></script>
      <script src="/resources/js/plugins.js"></script>
      <script src="/resources/js/main.js"></script>
      <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
      <title th:text="#{message.resetPassword}">reset</title>
   </head>
   <body>
     <nav class="navbar navbar-default">
        <div class="container-fluid">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a rel="home" href="#">
              <img class="navbar-brand" src="/resources/img/logo.png"/>
              </a>
           </div>
           <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login}" th:text="#{label.form.loginTitle}">login</a></li>
                <li><a th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">signup</a></li>
              </ul>
           </div>
        </div>
     </nav>
      <div class="container">
         <h1 th:text="#{message.resetPassword}">reset</h1>
         <br/>
            <label class="col-sm-3" th:text="#{label.user.email}">email</label>
            <span class="col-sm-5"><input class="form-control" id="email" name="email" type="email" value="" /></span>
            <button class="btn btn-primary" type="submit" onclick="resetPass()" th:text="#{message.resetPassword}">reset</button>
         <hr/>
         <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
      </div>
      <script th:inline="javascript">
         /*<![CDATA[*/
         var serverContext = [[@{/}]];
         function resetPass(){
             var email = $("#email").val();
             $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
                     window.location.href = serverContext + "login?message=" + data.message;
             })
             .fail(function(data) {
             	if(data.responseJSON.error.indexOf("MailError") > -1)
                 {
                     window.location.href = serverContext + "emailError.html";
                 }
                 else{
                     window.location.href = serverContext + "login?message=" + data.responseJSON.message;
                 }
             });
         }
         $(document).ajaxStart(function() {
             $("title").html("LOADING ...");
         });
         /*]]>*/
      </script>
   </body>
</html>
