<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
   <head>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>
      <link rel="stylesheet" href="/resources/css/normalize.css"></link>
      <link rel="stylesheet" href="/resources/css/main.css"></link>
      <script src="/resources/js/modernizr-2.8.3.min.js"></script>
      <script src="/resources/js/jquery-1.12.0.min.js"></script>
      <script src="/resources/js/bootstrap.min.js"></script>
      <script src="/resources/js/plugins.js"></script>
      <script src="/resources/js/main.js"></script>
      <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
      <title th:text="#{message.updatePassword}">update password</title>
   </head>
   <body>
     <nav class="navbar navbar-default">
        <div class="container-fluid">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a rel="home" href="#">
              <img class="navbar-brand" src="/resources/img/logo.png"/>
              </a>
           </div>
           <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a th:href="@{/login}"><i class="glyphicon glyphicon-log-in"></i>&nbsp;<span th:text="#{label.form.loginTitle}">login></span></a></li>
                <li><a th:href="@{/registration.html}"><i class="glyphicon glyphicon-user"></i><span th:text="#{label.form.loginSignUp}">signup</span></a></li>
              </ul>
           </div>
        </div>
     </nav>
      <div sec:authorize="hasAuthority('LOGIN_PRIVILEGE')">
         <div class="container">
            <div class="row">
               <h1 th:text="#{message.resetYourPassword}">reset</h1>
               <div >
                  <br/>
                  <label class="col-sm-2" th:text="#{label.user.password}">password</label>
                  <span class="col-sm-5"><input class="form-control" id="pass" name="password" type="password" value="" /></span>
                  <span class="col-sm-5"></span>
                  <br/><br/>
                  <label class="col-sm-2" th:text="#{label.user.confirmPass}">confirm</label>
                  <span class="col-sm-5"><input class="form-control" id="passConfirm" type="password" value="" /></span>
                  <span id="error" class="alert alert-danger" style="display:none" th:text="#{PasswordMatches.user}">error</span>
                  <br/><br/>
                  <button class="btn btn-primary" type="submit" onclick="savePass()" th:text="#{message.updatePassword}">submit</button>
               </div>
            </div>
         </div>
         <script th:inline="javascript">
            /*<![CDATA[*/
            var serverContext = [[@{/}]];
            function savePass(){
                var pass = $("#pass").val();
                var valid = pass == $("#passConfirm").val();
                if(!valid) {
                  $("#error").show();
                  return;
                }
                $.post(serverContext + "user/savePassword",{password: pass} ,function(data){
                        window.location.href = serverContext + "login?message="+data.message;
                })
                .fail(function(data) {
                    window.location.href = serverContext + "login?message=" + data.responseJSON.message;
                });
            }
            /*]]>*/
         </script>
      </div>
   </body>
</html>
